.project-card {
  background: #2a260f;
  border-radius: 0.65rem;
  border: 1.5px solid var(--secondary-color-bright);
  padding: 1.5rem;
  margin: 0 1rem;
}

.project-card h6 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.project-card ul li {
  list-style: none;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;
}

.project-card ul li::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--secondary-color-bright);
  border-radius: 0.5rem;
  position: absolute;
  left: -1.2rem;
  top: 0.4rem;
}

.project-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-links-container a {
  text-decoration: none;
  color: inherit;
}

.project-link {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  background: rgba(185, 174, 81, 0.5);
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
}

.project-link:hover {
  background: rgb(177, 164, 54);
}

@media (max-width: 768px) {
  .project-card {
    margin: 0;
  }

  .project-card h6 {
    font-size: 1rem;
  }

  .project-card ul li {
    font-size: 0.75rem;
  }
}
