:root {
  --primary-color: #082A28;
  --secondary-color-bright: #D3A74A;
  --secondary-color: #BA903E;
  --secondary-color-dark: #92702D;
  --scrollbar-color: #7C5E26;
}
.body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1200px !important;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}

/* Custom Scrollbar  */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}
::-ms-scrollbar {
  width: 12px;
}

::-ms-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

::-ms-scrollbar-track {
  background-color: var(--secondary-color);
}
