:root {
  --primary-color: #1f9a84;
  --secondary-color-bright: #f4d35f;
  --secondary-color: #dab637;
  --secondary-color-dark: #ccab32;
  --scrollbar-color: #b89a2b;
}

.container {
  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}

/* Custom Scrollbar  */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}
::-ms-scrollbar {
  width: 12px;
}

::-ms-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

::-ms-scrollbar-track {
  background-color: var(--secondary-color);
}
